$primary-color: #fdb813;
$dark-theme: #202020;
$light-theme: #dfd9e9;
$rwd: "screen and (max-width: 1025px)";

.cool-btn {
  font-family: "Muli", sans-serif;
  width: 180px;
  height: 64px;
  border-radius: 12px;
  border: 2px solid $dark-theme;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  font-size: 1rem;
  font-weight: 400;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 2;
  @media #{$rwd} {
    width: 100%;
  }
  &:hover {
    color: #fff;
  }
  &:before {
    top: -60px;
    left: 0;
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    transition: all 0.35s ease-in-out;
  }
  &:hover:before {
    top: 0;
    z-index: -1;
    transition: 0.6s ease-in-out;
  }
  &:after {
    top: -60px;
    left: 0;
    z-index: -3;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $dark-theme;
    transition: all 0.6s ease-in-out;
  }
  &:hover:after {
    top: 0;
    z-index: -2;
    transition: 0.35s ease-in-out;
  }
}
