@import url("https://fonts.googleapis.com/css?family=Raleway:300,400&display=swap");
@import "variables";

//do zrobienia animacja podjezdzania karty do góry i reveal github//live
.card {
  height: 530px;
  max-width: 100%;
  background-color: #fff;
  font-family: $card-font;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  &:hover > .card-main,
  &:active > .card-main {
    height: 100%;
    transition: 0.5s ease;
  }
  &:hover > .card__image,
  &:active > .card__image {
    transition: 0.5s ease;
    height: 0;
  }
  &:hover > .icons-wrapper,
  &:active > .icons-wrapper {
    visibility: visible;
    transition: 0.5s ease;
    opacity: 1;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 3px;
    background-color: $primary-color;
  }
  .card__image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    transition: 0.5s ease;
    img {
      position: absolute;
      height: 200px;
    }
  }
  .card-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: pre-wrap;
    padding: 0 32px;
    height: 300px;
    h1 {
      width: 100%;
      margin: 24px 0 12px 0;
    }
    p {
      margin: 12px 0 12px 0;
    }
  }
  .icons-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    .card-socials {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: $dark-theme;
      transition: 0.3s ease-in-out;
      * {
        margin: 4px;
      }
      &:hover {
        background-color: $dark-theme;
        color: $light-theme;
      }
    }
  }
}
